
  <div id="map-placeholder" style=' width: 100%; height: 100%;'>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /></div>

    <script>
      mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
      var map = new mapboxgl.Map({
          container: 'map-placeholder', // container id
          // style: 'mapbox://styles/mapbox/streets-v9',
          style: 'mapbox://styles/hidefstatic/ciz023vgy003u2rrwiqfik8mf', //stylesheet location
          center: [-122.3321, 47.6062], // starting position
          zoom: 11 // starting zoom
      });
    </script>
